go 1.21.4

use (
	./dsa-go/BFS
	./dsa-go/BST
	./dsa-go/BellmanFord
	./dsa-go/Cache
	./dsa-go/DFS
	./dsa-go/HPath
	./dsa-go/KMP
	./dsa-go/KTP
	./dsa-go/Kruskal
	./dsa-go/Maze
	./dsa-go/Prim
	./dsa-go/RK
	./dsa-go/ReverseArr
	./dsa-go/Searching
	./dsa-go/Sorting
	./dsa-go/concurrency
	./dsa-go/dll
	./dsa-go/ds1
	./dsa-go/file
	./dsa-go/generics
	./dsa-go/interface
	./dsa-go/ioInGo
	./dsa-go/linked
	./dsa-go/methods
	./dsa-go/palindromePermutation
	./dsa-go/pointer
	./dsa-go/queue
	./dsa-go/stack
	./dsa-go/stringRotate
	./dsa-go/templ
)
