go 1.21.4

use (
	./dsa-go/BST
	./dsa-go/ReverseArr
	./dsa-go/dll
	./dsa-go/ds1
	./dsa-go/generics
	./dsa-go/interface
	./dsa-go/linked
	./dsa-go/methods
	./dsa-go/pointer
	./dsa-go/queue
	./dsa-go/stack
)
